config VIDEO_ISX031
	tristate "ISX031 sensor support"
	depends on VIDEO_DEV && I2C
	select VIDEO_V4L2_SUBDEV_API
	depends on MEDIA_CAMERA_SUPPORT
	help
	  This is a Video4Linux2 sensor-level driver for
          Sony ISX031 camera with a MIPI CSI-2 interface.

          To compile this driver as a module, choose M here: the
          module will be called isx031.

config VIDEO_AR0234
	tristate "ON Semiconductor AR0234 sensor support"
	depends on VIDEO_DEV && I2C
	select VIDEO_V4L2_SUBDEV_API
	depends on MEDIA_CAMERA_SUPPORT
	help
	  This is a Video4Linux2 sensor driver for the ON Semiconductor
	  AR0234 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called ar0234.

config VIDEO_AR0820
	tristate "ON Semiconductor AR0820 sensor support"
	depends on VIDEO_DEV && I2C
	select VIDEO_V4L2_SUBDEV_API
	depends on MEDIA_CAMERA_SUPPORT
	help
	  This is a Video4Linux2 sensor driver for the ON Semiconductor
	  AR0820 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called ar0820.

config VIDEO_AR0830
	tristate "ON Semiconductor AR0830 sensor support"
	depends on VIDEO_DEV && I2C
	select VIDEO_V4L2_SUBDEV_API
	depends on MEDIA_CAMERA_SUPPORT
	help
	  This is a Video4Linux2 sensor driver for the ON Semiconductor
	  AR0830 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called ar0830.

config VIDEO_AR0822
	tristate "Innodisk AR0822 sensor support"
	depends on VIDEO_DEV && I2C
	select VIDEO_V4L2_SUBDEV_API
	depends on MEDIA_CAMERA_SUPPORT
	help
	  This is a Video4Linux2 sensor driver for the Innodisk
	  AR0822 camera.

	  To compile this driver as a module, choose M here: the
	  module will be called ar0822.
